<MudPaper Elevation="25" Style="background-color:#D4A054; display: flex; justify-content: center; align-items: center;">
   
    <MudToolBar Style="display: flex; align-items: center; width: 100%; height: auto;">
        <!-- Contenedor para los botones centrales -->
        <div style="flex-grow: 1; display: flex; justify-content: center;">

            @foreach (var item in lista)
            {
                href = "/" + item;
                <MudButton Href="@href" Style="@_estiloBotones">@item</MudButton>
            }

        </div>

        <!-- Botones finales -->
        <MudButton Href="@AppConstants.Routes.Register" Variant="Variant.Filled" Style="color:black;background-color:#FCD535; margin-left: 8px;">Registrarse</MudButton>
        <MudButton Href="@AppConstants.Routes.Login" Style="color:white;background-color:#2B3139; margin-left: 8px;">Iniciar sesión</MudButton>
   
    </MudToolBar>
</MudPaper>



@code {
    [CascadingParameter]
    private string _estiloBotones { get; set; }

    private string href { get; set; }
    //TODO esto va a estar en una bbdd
    public List<string> lista = new List<string>() { "Ofertas", "Peticiones", "Categorias", "Electrodomesticos", "Historial", "Ayuda" };
}