<MudPaper Elevation="25" Style="background-color:#D4A054; display: flex; justify-content: space-between; align-items: center; ">

    <!-- Contenedor de los botones centrales -->
    <MudToolBar Style=" display: flex; align-items: center; height: auto; margin-left:30%; width:fit-content; justify-content: center;">
        <div style="display: flex; justify-content: center;">
            @foreach (var item in titulosConectado)
            {
                if (item.Descripcion == "Categorias")
                {
                    <PopOverCategorias categoriaList="@listaCategorias" />
                }
                else
                {
                    href = "/" + item.Descripcion;
                    <MudButton Href="@href" Style="@_estiloBotones">@item.Descripcion</MudButton>
                }
            }
        </div>
    </MudToolBar>

    <!-- (contenedor de botones finales) -->
    <div style=" display: flex; align-items: center; height: auto; margin-right: 15%;">
        <TogglePerfil userName="@userName" />
        <Notificaciones />
        <CarritoCompras />
    </div>

</MudPaper>

