<MudPaper Elevation="25" Style="background-color:#D19D52; display: flex; justify-content: center; align-items: center;">

    <MudToolBar Style="display: flex; align-items: center; width: 100%; height: auto;">
        <!-- Contenedor para los botones centrales -->
        <div style="flex-grow: 1; display: flex; justify-content: center;">

            @foreach (var item in listaDesconectado)
            {
                if (item.Descripcion == "Categorias")
                {
                    <PopOverCategorias />
                }
                else
                {
                    href = "/" + item.Descripcion;
                    <MudButton Href="@href" Style="@_estiloBotones">@item.Descripcion</MudButton>
                }
            }

        </div>

        <!-- Botones finales -->
        <MudButton Href="@AppConstants.Routes.Register" Style="color:black;background-color:#D4A054; margin-left: 8px;" Variant="Variant.Filled">Registrarse</MudButton>
        <MudButton Href="@AppConstants.Routes.Login" Style="color:white;background-color:#D4A054; margin-left: 8px;" Variant="Variant.Filled">Iniciar sesión</MudButton>

    </MudToolBar>
</MudPaper>


@code {
    [CascadingParameter]
    private string _estiloBotones { get; set; }
    private string href { get; set; }

    private List<TitulosDesconectadoResponse> listaDesconectado = new List<TitulosDesconectadoResponse>();

    protected override async Task OnInitializedAsync()
    {
        var response = await _titulosService.GetAllTitulosDesconectado();
        if (response.Succeeded)
            listaDesconectado = response.Data.ToList();
    }
}