@page "/chat"
@attribute [Authorize]

<MudLayout Style="height:100vh;">

    @* Barra herramientas superior con boton para abrir "barra de herramientas deslizable" *@
    <MudToolBar Style="background-color:#181A20">
        <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@ToggleDrawer" />
        <MudSpacer />
        <MudIconButton Icon="@Icons.Material.Filled.DarkMode" Color="Color.Error" />
    </MudToolBar>

    @* Barra de herramientas deslizable *@
    <MudDrawer Style="background-color:transparent" @bind-Open="@_open" Elevation="1">

        <MudDrawerHeader>
            <ChatProfileToggle />
        </MudDrawerHeader>

        <MudNavMenu>

            <MudDivider Class="my-2" />

            <MudText Style=@EstiloBotones Typo="Typo.h6" Class="px-4">Mensajes</MudText>
            <MudDivider Class="my-2" />

            @if (Chats.Any())
            {
                <MudContainer Style="overflow:auto">
                    <MudStack>

                        @foreach (var mensaje in Chats)
                        {
                            <MudAvatar>
                                Ok
                            </MudAvatar>
                            <MudPaper Class="mt-2 mb-2">
                                <p>@mensaje.UserName</p>

                                <p style="color:@(mensaje.IsLastMessageFromMe && !mensaje.Seen ? "black" : "inherit")">
                                    @(mensaje.IsLastMessageFromMe ? $"You: {mensaje.LastMessage}" : mensaje.LastMessage)
                                </p>
                            </MudPaper>
                        }
                    </MudStack>

                </MudContainer>

            }

            <MudNavLink Style=@EstiloBotones Href="/about">About</MudNavLink>

        </MudNavMenu>

    </MudDrawer>

    @* En este contenedor tendremos todo lo que corresponde al "Chat" *@
    <MudMainContent Style="background-color:red">

        <MudContainer MaxWidth="MaxWidth.ExtraExtraLarge" Class="d-flex flex-grow-1 flex-row">

            <MudPaper Style="background-color:yellow" Width="100%" Square="true">

                @if (true)
                {
                    <MudToolBar Style="width:100%;background-color:green;" Class="align-self-start">

                        <MudBadge Color="Color.Success" Overlap="true" Bordered="true">
                            <MudAvatar Style="height:50px; width:50px; font-size:2rem;">
                                <MudImage Src="images/jonny.jpg" />
                            </MudAvatar>
                        </MudBadge>
                        @* <MudFab Label="@Iniciales" Style="@background" /> *@

                        <MudSpacer />
                        <MudIconButton Icon="@Icons.Material.Filled.Search" Color="Color.Primary" />
                    </MudToolBar>

                    @* Mensajes *@
                    <div class="d-flex flex-column px-4" style="max-height:65vh;min-height:65vh; overflow:scroll;overflow-x:hidden" id="chatContainer">

                        <MudPaper Style="background-color:transparent" Class="d-flex justify-end">
                            <MudAvatar>
                                @* <MudImage Src="images/jonny.jpg" /> *@
                                Ok
                            </MudAvatar>
                        </MudPaper>

                        <MudPaper Style="border-color:red;border-width:10px;height:100px;" Class="d-flex justify-end" Elevation="0">
                            <MudPaper Class="mud-theme-primary" Width="124px" Height="64px">
                                <p>Hola como estas?</p>
                            </MudPaper>
                        </MudPaper>
                        <br />


                        <MudPaper Style="background-color:transparent" Class="d-flex justify-start">
                            <MudAvatar>
                                @* <MudImage Src="images/jonny.jpg" /> *@
                                Ok
                            </MudAvatar>
                        </MudPaper>
                        <MudPaper Style="border-color:red;border-width:10px;height:100px;" Class="d-flex justify-start " Elevation="0">
                            <MudPaper Style="border-color:green;border-width:10px;" Class="mud-theme-primary" Width="124px" Height="64px">
                                <p>Hola como estas?</p>
                            </MudPaper>
                        </MudPaper><MudPaper Style="border-color:red;border-width:10px;height:100px;" Class="d-flex justify-end" Elevation="0">
                            <MudPaper Class="mud-theme-primary" Width="124px" Height="64px">
                                <p>Hola como estas?</p>
                            </MudPaper>
                        </MudPaper>
                        <br />


                        <MudPaper Style="background-color:transparent" Class="d-flex justify-start">
                            <MudAvatar>
                                @* <MudImage Src="images/jonny.jpg" /> *@
                                Ok
                            </MudAvatar>
                        </MudPaper>
                        <MudPaper Style="border-color:red;border-width:10px;height:100px;" Class="d-flex justify-start " Elevation="0">
                            <MudPaper Style="border-color:green;border-width:10px;" Class="mud-theme-primary" Width="124px" Height="64px">
                                <p>Hola como estas?</p>
                            </MudPaper>
                        </MudPaper><MudPaper Style="border-color:red;border-width:10px;height:100px;" Class="d-flex justify-end" Elevation="0">
                            <MudPaper Class="mud-theme-primary" Width="124px" Height="64px">
                                <p>Hola como estas?</p>
                            </MudPaper>
                        </MudPaper>
                        <br />


                        <MudPaper Style="background-color:transparent" Class="d-flex justify-start">
                            <MudAvatar>
                                @* <MudImage Src="images/jonny.jpg" /> *@
                                Ok
                            </MudAvatar>
                        </MudPaper>
                        <MudPaper Style="border-color:red;border-width:10px;height:100px;" Class="d-flex justify-start " Elevation="0">
                            <MudPaper Style="border-color:green;border-width:10px;" Class="mud-theme-primary" Width="124px" Height="64px">
                                <p>Hola como estas?</p>
                            </MudPaper>
                        </MudPaper><MudPaper Style="border-color:red;border-width:10px;height:100px;" Class="d-flex justify-end" Elevation="0">
                            <MudPaper Class="mud-theme-primary" Width="124px" Height="64px">
                                <p>Hola como estas?</p>
                            </MudPaper>
                        </MudPaper>
                        <br />


                        <MudPaper Style="background-color:transparent" Class="d-flex justify-start">
                            <MudAvatar>
                                @* <MudImage Src="images/jonny.jpg" /> *@
                                Ok
                            </MudAvatar>
                        </MudPaper>
                        <MudPaper Style="border-color:red;border-width:10px;height:100px;" Class="d-flex justify-start " Elevation="0">
                            <MudPaper Style="border-color:green;border-width:10px;" Class="mud-theme-primary" Width="124px" Height="64px">
                                <p>Hola como estas?</p>
                            </MudPaper>
                        </MudPaper><MudPaper Style="border-color:red;border-width:10px;height:100px;" Class="d-flex justify-end" Elevation="0">
                            <MudPaper Class="mud-theme-primary" Width="124px" Height="64px">
                                <p>Hola como estas?</p>
                            </MudPaper>
                        </MudPaper>
                        <br />


                        <MudPaper Style="background-color:transparent" Class="d-flex justify-start">
                            <MudAvatar>
                                @* <MudImage Src="images/jonny.jpg" /> *@
                                Ok
                            </MudAvatar>
                        </MudPaper>
                        <MudPaper Style="border-color:red;border-width:10px;height:100px;" Class="d-flex justify-start " Elevation="0">
                            <MudPaper Style="border-color:green;border-width:10px;" Class="mud-theme-primary" Width="124px" Height="64px">
                                <p>Hola como estas?</p>
                            </MudPaper>
                        </MudPaper><MudPaper Style="border-color:red;border-width:10px;height:100px;" Class="d-flex justify-end" Elevation="0">
                            <MudPaper Class="mud-theme-primary" Width="124px" Height="64px">
                                <p>Hola como estas?</p>
                            </MudPaper>
                        </MudPaper>
                        <br />


                        <MudPaper Style="background-color:transparent" Class="d-flex justify-start">
                            <MudAvatar>
                                @* <MudImage Src="images/jonny.jpg" /> *@
                                Ok
                            </MudAvatar>
                        </MudPaper>
                        <MudPaper Style="border-color:red;border-width:10px;height:100px;" Class="d-flex justify-start " Elevation="0">
                            <MudPaper Style="border-color:green;border-width:10px;" Class="mud-theme-primary" Width="124px" Height="64px">
                                <p>Hola como estas?</p>
                            </MudPaper>
                        </MudPaper><MudPaper Style="border-color:red;border-width:10px;height:100px;" Class="d-flex justify-end" Elevation="0">
                            <MudPaper Class="mud-theme-primary" Width="124px" Height="64px">
                                <p>Hola como estas?</p>
                            </MudPaper>
                        </MudPaper>
                        <br />


                        <MudPaper Style="background-color:transparent" Class="d-flex justify-start">
                            <MudAvatar>
                                @* <MudImage Src="images/jonny.jpg" /> *@
                                Ok
                            </MudAvatar>
                        </MudPaper>
                        <MudPaper Style="border-color:red;border-width:10px;height:100px;" Class="d-flex justify-start " Elevation="0">
                            <MudPaper Style="border-color:green;border-width:10px;" Class="mud-theme-primary" Width="124px" Height="64px">
                                <p>Hola como estas?</p>
                            </MudPaper>
                        </MudPaper><MudPaper Style="border-color:red;border-width:10px;height:100px;" Class="d-flex justify-end" Elevation="0">
                            <MudPaper Class="mud-theme-primary" Width="124px" Height="64px">
                                <p>Hola como estas?</p>
                            </MudPaper>
                        </MudPaper>
                        <br />


                        <MudPaper Style="background-color:transparent" Class="d-flex justify-start">
                            <MudAvatar>
                                @* <MudImage Src="images/jonny.jpg" /> *@
                                Ok
                            </MudAvatar>
                        </MudPaper>
                        <MudPaper Style="border-color:red;border-width:10px;height:100px;" Class="d-flex justify-start " Elevation="0">
                            <MudPaper Style="border-color:green;border-width:10px;" Class="mud-theme-primary" Width="124px" Height="64px">
                                <p>Hola como estas?</p>
                            </MudPaper>
                        </MudPaper><MudPaper Style="border-color:red;border-width:10px;height:100px;" Class="d-flex justify-end" Elevation="0">
                            <MudPaper Class="mud-theme-primary" Width="124px" Height="64px">
                                <p>Hola como estas?</p>
                            </MudPaper>
                        </MudPaper>
                        <br />


                        <MudPaper Style="background-color:transparent" Class="d-flex justify-start">
                            <MudAvatar>
                                @* <MudImage Src="images/jonny.jpg" /> *@
                                Ok
                            </MudAvatar>
                        </MudPaper>
                        <MudPaper Style="border-color:red;border-width:10px;height:100px;" Class="d-flex justify-start " Elevation="0">
                            <MudPaper Style="border-color:green;border-width:10px;" Class="mud-theme-primary" Width="124px" Height="64px">
                                <p>Hola como estas?</p>
                            </MudPaper>
                        </MudPaper><MudPaper Style="border-color:red;border-width:10px;height:100px;" Class="d-flex justify-end" Elevation="0">
                            <MudPaper Class="mud-theme-primary" Width="124px" Height="64px">
                                <p>Hola como estas?</p>
                            </MudPaper>
                        </MudPaper>
                        <br />


                        <MudPaper Style="background-color:transparent" Class="d-flex justify-start">
                            <MudAvatar>
                                @* <MudImage Src="images/jonny.jpg" /> *@
                                Ok
                            </MudAvatar>
                        </MudPaper>
                        <MudPaper Style="border-color:red;border-width:10px;height:100px;" Class="d-flex justify-start " Elevation="0">
                            <MudPaper Style="border-color:green;border-width:10px;" Class="mud-theme-primary" Width="124px" Height="64px">
                                <p>Hola como estas?</p>
                            </MudPaper>
                        </MudPaper><MudPaper Style="border-color:red;border-width:10px;height:100px;" Class="d-flex justify-end" Elevation="0">
                            <MudPaper Class="mud-theme-primary" Width="124px" Height="64px">
                                <p>Hola como estas?</p>
                            </MudPaper>
                        </MudPaper>
                        <br />


                        <MudPaper Style="background-color:transparent" Class="d-flex justify-start">
                            <MudAvatar>
                                @* <MudImage Src="images/jonny.jpg" /> *@
                                Ok
                            </MudAvatar>
                        </MudPaper>
                        <MudPaper Style="border-color:red;border-width:10px;height:100px;" Class="d-flex justify-start " Elevation="0">
                            <MudPaper Style="border-color:green;border-width:10px;" Class="mud-theme-primary" Width="124px" Height="64px">
                                <p>Hola como estas?</p>
                            </MudPaper>
                        </MudPaper><MudPaper Style="border-color:red;border-width:10px;height:100px;" Class="d-flex justify-end" Elevation="0">
                            <MudPaper Class="mud-theme-primary" Width="124px" Height="64px">
                                <p>Hola como estas?</p>
                            </MudPaper>
                        </MudPaper>
                        <br />


                        <MudPaper Style="background-color:transparent" Class="d-flex justify-start">
                            <MudAvatar>
                                @* <MudImage Src="images/jonny.jpg" /> *@
                                Ok
                            </MudAvatar>
                        </MudPaper>
                        <MudPaper Style="border-color:red;border-width:10px;height:100px;" Class="d-flex justify-start " Elevation="0">
                            <MudPaper Style="border-color:green;border-width:10px;" Class="mud-theme-primary" Width="124px" Height="64px">
                                <p>Hola como estas?</p>
                            </MudPaper>
                        </MudPaper><MudPaper Style="border-color:red;border-width:10px;height:100px;" Class="d-flex justify-end" Elevation="0">
                            <MudPaper Class="mud-theme-primary" Width="124px" Height="64px">
                                <p>Hola como estas?</p>
                            </MudPaper>
                        </MudPaper>
                        <br />


                        <MudPaper Style="background-color:transparent" Class="d-flex justify-start">
                            <MudAvatar>
                                @* <MudImage Src="images/jonny.jpg" /> *@
                                Ok
                            </MudAvatar>
                        </MudPaper>
                        <MudPaper Style="border-color:red;border-width:10px;height:100px;" Class="d-flex justify-start " Elevation="0">
                            <MudPaper Style="border-color:green;border-width:10px;" Class="mud-theme-primary" Width="124px" Height="64px">
                                <p>Hola como estas?</p>
                            </MudPaper>
                        </MudPaper><MudPaper Style="border-color:red;border-width:10px;height:100px;" Class="d-flex justify-end" Elevation="0">
                            <MudPaper Class="mud-theme-primary" Width="124px" Height="64px">
                                <p>Hola como estas?</p>
                            </MudPaper>
                        </MudPaper>
                        <br />


                        <MudPaper Style="background-color:transparent" Class="d-flex justify-start">
                            <MudAvatar>
                                @* <MudImage Src="images/jonny.jpg" /> *@
                                Ok
                            </MudAvatar>
                        </MudPaper>
                        <MudPaper Style="border-color:red;border-width:10px;height:100px;" Class="d-flex justify-start " Elevation="0">
                            <MudPaper Style="border-color:green;border-width:10px;" Class="mud-theme-primary" Width="124px" Height="64px">
                                <p>Hola como estas?</p>
                            </MudPaper>
                        </MudPaper><MudPaper Style="border-color:red;border-width:10px;height:100px;" Class="d-flex justify-end" Elevation="0">
                            <MudPaper Class="mud-theme-primary" Width="124px" Height="64px">
                                <p>Hola como estas?</p>
                            </MudPaper>
                        </MudPaper>
                        <br />


                        <MudPaper Style="background-color:transparent" Class="d-flex justify-start">
                            <MudAvatar>
                                @* <MudImage Src="images/jonny.jpg" /> *@
                                Ok
                            </MudAvatar>
                        </MudPaper>
                        <MudPaper Style="border-color:red;border-width:10px;height:100px;" Class="d-flex justify-start " Elevation="0">
                            <MudPaper Style="border-color:green;border-width:10px;" Class="mud-theme-primary" Width="124px" Height="64px">
                                <p>Hola como estas?</p>
                            </MudPaper>
                        </MudPaper>

                    </div>

                    <MudPaper Class="d-flex flex-row px-2 mx-4" Style="background-color:lightgrey">

                        <MudTextField T="string" Placeholder="Enter your message..." @onkeypress="OnKeyPressInChat" Class="mt-n2 mx-4" @bind-Value="CurrentMessage" For="@(()=> CurrentMessage)" />

                        <MudButton OnClick="SubmitAsync" StartIcon="@Icons.Material.Outlined.Send" Color="Color.Secondary" ButtonType="ButtonType.Button">Send</MudButton>
                    </MudPaper>

                }

            </MudPaper>

        </MudContainer>

    </MudMainContent>

</MudLayout>


@code {
    private string EstiloBotones = "color:#848E9C";

}
