@page "/chat"
@attribute [Authorize]

<MudLayout Style="height:100vh;">

    @* Barra herramientas superior con boton para abrir "barra de herramientas deslizable" *@
    <MudToolBar Style="background-color:#181A20">
        <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@ToggleDrawer" />
        <MudSpacer />
        <MudIconButton Icon="@Icons.Material.Filled.DarkMode" Color="Color.Error" />
    </MudToolBar>

    @* Barra de herramientas deslizable *@
    <MudDrawer Style="background-color:transparent" @bind-Open="@_open" Elevation="1">

        <MudDrawerHeader>
            <ChatProfileToggle />
        </MudDrawerHeader>

        <MudNavMenu>

            <MudDivider Class="my-2" />

            <MudText Style=@EstiloBotones Typo="Typo.h6" Class="px-4">Mensajes</MudText>
            <MudDivider Class="my-2" />

            @if (Chats.Any())
            {
                foreach (var item in Chats.Where(x => x.Seen))
                {
                    <MudNavLink Style=@EstiloBotones Href="/billing">@item.UserName</MudNavLink>
                }
            }

            <MudNavGroup Title="@Chats.Count(x => x.Seen == false).ToString()" Icon="@Icons.Material.Filled.Email" Expanded="false">
                @foreach (var item in Chats.Where(x => x.Seen == false))
                {
                    <MudButton OnClick="()=>GetChatById(item.ToUserId!)">
                        @item.UserName
                        <br />
                        @item.LastMessage
                    </MudButton>
                }
            </MudNavGroup>

            <MudNavLink Style=@EstiloBotones Href="/about">About</MudNavLink>

        </MudNavMenu>

    </MudDrawer>

    @* En este contenedor tendremos todo lo que corresponde al "Chat" *@
    <MudMainContent Style="background-color:red">

        <MudContainer MaxWidth="MaxWidth.ExtraExtraLarge" Class="d-flex flex-grow-1 flex-row">

            <MudPaper Style="background-color:yellow" Width="100%" Square="true">

                @if (true)
                {
                    <MudToolBar Style="width:100%;background-color:green;" Class="align-self-start">

                        <MudBadge Color="Color.Success" Overlap="true" Bordered="true">
                            <MudAvatar Style="height:50px; width:50px; font-size:2rem;">
                                <MudImage Src="images/jonny.jpg" />
                            </MudAvatar>
                        </MudBadge>
                        @* <MudFab Label="@Iniciales" Style="@background" /> *@

                        <MudSpacer />
                        <MudIconButton Icon="@Icons.Material.Filled.Search" Color="Color.Primary" />
                    </MudToolBar>

                    @* Mensajes *@
                    <div class="d-flex flex-column px-4" style="max-height:65vh;min-height:65vh; overflow:scroll;" id="chatContainer">

                        <MudPaper Style="border-color:red;border-width:10px;height:100px;" Class="d-flex justify-end" Elevation="0">
                            <MudPaper Class="mud-theme-primary" Width="124px" Height="64px">
                                <p>Hola como estas?</p>
                            </MudPaper>
                        </MudPaper>
                        <br />
                        <MudPaper Style="border-color:red;border-width:10px;height:100px;" Class="d-flex justify-start " Elevation="0">
                            <MudPaper Style="border-color:green;border-width:10px;" Class="mud-theme-primary" Width="124px" Height="64px">
                                <p>Hola como estas?</p>
                            </MudPaper>
                        </MudPaper> <MudPaper Style="border-color:red;border-width:10px;height:100px;" Class="d-flex justify-end" Elevation="0">
                            <MudPaper Class="mud-theme-primary" Width="124px" Height="64px">
                                <p>Hola como estas?</p>
                            </MudPaper>
                        </MudPaper>
                        <br />
                        <MudPaper Style="border-color:red;border-width:10px;height:100px;" Class="d-flex justify-start " Elevation="0">
                            <MudPaper Style="border-color:green;border-width:10px;" Class="mud-theme-primary" Width="124px" Height="64px">
                                <p>Hola como estas?</p>
                            </MudPaper>
                        </MudPaper> <MudPaper Style="border-color:red;border-width:10px;height:100px;" Class="d-flex justify-end" Elevation="0">
                            <MudPaper Class="mud-theme-primary" Width="124px" Height="64px">
                                <p>Hola como estas?</p>
                            </MudPaper>
                        </MudPaper>
                        <br />
                        <MudPaper Style="border-color:red;border-width:10px;height:100px;" Class="d-flex justify-start " Elevation="0">
                            <MudPaper Style="border-color:green;border-width:10px;" Class="mud-theme-primary" Width="124px" Height="64px">
                                <p>Hola como estas?</p>
                            </MudPaper>
                        </MudPaper> <MudPaper Style="border-color:red;border-width:10px;height:100px;" Class="d-flex justify-end" Elevation="0">
                            <MudPaper Class="mud-theme-primary" Width="124px" Height="64px">
                                <p>Hola como estas?</p>
                            </MudPaper>
                        </MudPaper>
                        <br />
                        <MudPaper Style="border-color:red;border-width:10px;height:100px;" Class="d-flex justify-start " Elevation="0">
                            <MudPaper Style="border-color:green;border-width:10px;" Class="mud-theme-primary" Width="124px" Height="64px">
                                <p>Hola como estas?</p>
                            </MudPaper>
                        </MudPaper> <MudPaper Style="border-color:red;border-width:10px;height:100px;" Class="d-flex justify-end" Elevation="0">
                            <MudPaper Class="mud-theme-primary" Width="124px" Height="64px">
                                <p>Hola como estas?</p>
                            </MudPaper>
                        </MudPaper>
                        <br />
                        <MudPaper Style="border-color:red;border-width:10px;height:100px;" Class="d-flex justify-start " Elevation="0">
                            <MudPaper Style="border-color:green;border-width:10px;" Class="mud-theme-primary" Width="124px" Height="64px">
                                <p>Hola como estas?</p>
                            </MudPaper>
                        </MudPaper> <MudPaper Style="border-color:red;border-width:10px;height:100px;" Class="d-flex justify-end" Elevation="0">
                            <MudPaper Class="mud-theme-primary" Width="124px" Height="64px">
                                <p>Hola como estas?</p>
                            </MudPaper>
                        </MudPaper>
                        <br />
                        <MudPaper Style="border-color:red;border-width:10px;height:100px;" Class="d-flex justify-start " Elevation="0">
                            <MudPaper Style="border-color:green;border-width:10px;" Class="mud-theme-primary" Width="124px" Height="64px">
                                <p>Hola como estas?</p>
                            </MudPaper>
                        </MudPaper> <MudPaper Style="border-color:red;border-width:10px;height:100px;" Class="d-flex justify-end" Elevation="0">
                            <MudPaper Class="mud-theme-primary" Width="124px" Height="64px">
                                <p>Hola como estas?</p>
                            </MudPaper>
                        </MudPaper>
                        <br />
                        <MudPaper Style="border-color:red;border-width:10px;height:100px;" Class="d-flex justify-start " Elevation="0">
                            <MudPaper Style="border-color:green;border-width:10px;" Class="mud-theme-primary" Width="124px" Height="64px">
                                <p>Hola como estas?</p>
                            </MudPaper>
                        </MudPaper>

                    </div>

                    <MudPaper Class="d-flex flex-row px-2 mx-4" Style="background-color:lightgrey">

                        <MudTextField T="string" Placeholder="Enter your message..." @onkeypress="OnKeyPressInChat" Class="mt-n2 mx-4" @bind-Value="CurrentMessage" For="@(()=> CurrentMessage)" />

                        <MudButton OnClick="SubmitAsync" StartIcon="@Icons.Material.Outlined.Send" Color="Color.Secondary" ButtonType="ButtonType.Button">Send</MudButton>
                    </MudPaper>

                }

            </MudPaper>

        </MudContainer>

    </MudMainContent>

</MudLayout>


@code {
    private List<Contacto> ListaChats { get; set; } = new();

    public class Contacto
    {
        public string Nombre { get; set; } = string.Empty;
        public string Apellido { get; set; } = string.Empty;

        public Dictionary<DateTime, string>? Mensajes;

    }

    protected virtual void OnInitialized()
    {
        ListaChats = new List<Contacto>()
        {
            new Contacto()
            {
                Nombre="Agustin",
                Apellido="Esposito",
                Mensajes = new Dictionary<DateTime, string>()
                {
                    { new DateTime(2025, 4, 6, 14, 33, 0), "Hola" },
                    { new DateTime(2025, 4, 6, 14, 35, 0), "¿Cómo estás?" },
                    { new DateTime(2025, 4, 6, 14, 43, 0), "Todo bien, necesito un favor tuyo" },
                    { new DateTime(2025, 4, 6, 14, 45, 0), "Me podes prestar el auto por favor?" },
                }
            },
             new Contacto()
            {
                Nombre="Jose",
                Apellido="Esposito",
                Mensajes = new Dictionary<DateTime, string>()
                {
                    { new DateTime(2025, 4, 6, 14, 40, 0), "Hola Agustin todo bien?" },
                    { new DateTime(2025, 4, 6, 14, 41, 0), "Y vos...¿Cómo estás?" },
                    { new DateTime(2025, 4, 6, 14, 44, 0), "Okey, decime que favor necesitas" },
                }
            }
        };
    }
}
