@page "/chat/{ChatId}"
@page "/chat"
@attribute [Authorize]

<MudLayout Style="height:100vh;">

    @* Barra herramientas superior con boton para abrir "barra de herramientas deslizable" *@
    <MudToolBar Style="background-color:#181A20">
        <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@ToggleDrawer" />
        <MudSpacer />
        <MudIconButton Icon="@Icons.Material.Filled.DarkMode" Color="Color.Primary" />
    </MudToolBar>

    @* Barra de herramientas deslizable *@
    <MudDrawer Style="background-color:transparent" @bind-Open="@_open" Elevation="1">

        <ChatDrawer />

    </MudDrawer>

    @* En este contenedor tendremos todo lo que corresponde al "Chat" *@

    <MudMainContent>

        <MudContainer MaxWidth="MaxWidth.ExtraExtraLarge" Class="d-flex flex-grow-1 flex-row">

            <MudPaper Style="background: url('/img/fondopantalla.png') no-repeat center center; background-size: cover;position: relative;  opacity:0.6;" Width="100%" Square="true">

                <MudToolBar Style="width:100%;background-color:lightslategrey;" Class="align-self-start">

                    <MudBadge Color="Color.Success" Overlap="true" Bordered="true">
                        <MudAvatar Style="height:50px; width:50px; font-size:2rem;">
                            <MudImage Src="images/jonny.jpg" />
                        </MudAvatar>
                    </MudBadge>
                    @* <MudFab Label="@Iniciales" Style="@background" /> *@

                    <MudSpacer />
                    <MudIconButton Icon="@Icons.Material.Filled.Search" Color="Color.Primary" />
                </MudToolBar>

                @* Mensajes *@
                <div class="d-flex flex-column px-4" style="max-height:65vh;min-height:65vh; overflow:scroll;" id="chatContainer">


                    @*
                    ATENCIÓN!!!!: revisar el siguiente lnk para determinar cómo poner lños mensajes en la izquierda o derecha según sea mensajes de uno o del otro usuario:
                    https://mudblazor.com/utilities/justify-content#start
                    *@

                    <MudText Typo="Typo.body2" Style=" padding: 15px;border-radius: 5px;margin-top:5px">Message</MudText>

                </div>

                <MudPaper Elevation="25" Class="d-flex flex-row px-2 mx-4" Style="">
                    <MudTextField T="string" Placeholder="Enter your message..." @onkeypress="OnKeyPressInChat" Class="mt-n2 mx-4" @bind-Value="CurrentMessage" For="@(()=> CurrentMessage)" />
                    <MudButton OnClick="SubmitAsync" StartIcon="@Icons.Material.Outlined.Send" Color="Color.Secondary" ButtonType="ButtonType.Button">Send</MudButton>
                </MudPaper>

            </MudPaper>


        </MudContainer>

    </MudMainContent>

</MudLayout>

@code {

    private bool _open = false;

    private void ToggleDrawer()
    {
        _open = !_open;
    }
}


