@page "/chat"
@using IGift.Application.Models.Chat
@attribute [Authorize]

<MudLayout Style="height:100vh;background-color:#DBE4F5;">

    @* Barra herramientas superior con boton para abrir "barra de herramientas deslizable" *@
    <MudToolBar Style="background-color:#CFD9EF;border-width:3px;">
        <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@ToggleDrawer" />
        <MudSpacer />
        <MudIconButton Icon="@Icons.Material.Filled.DarkMode" Color="Color.Error" />
    </MudToolBar>

    @* Barra de herramientas deslizable *@
    <MudDrawer Style="background:radial-gradient(black, transparent);" @bind-Open="@_open" Elevation="1">

        <MudDrawerHeader Style="">
            <MudMenu TransformOrigin="Origin.TopLeft" AnchorOrigin="Origin.BottomRight" Ripple="true">

                <ActivatorContent>
                    <MudFab Label="@Iniciales" Style="@backgroundProfilePicture" />
                </ActivatorContent>

                <ChildContent>
                    <MudMenuItem>Profile</MudMenuItem>
                    <MudMenuItem>Theme</MudMenuItem>
                    <MudMenuItem>Usage</MudMenuItem>
                    <MudMenuItem>Sign Out</MudMenuItem>
                </ChildContent>

            </MudMenu>

        </MudDrawerHeader>

        <MudNavMenu Style="background-color:transparent">

            <MudDivider Class="my-2" />

            @* Botones All, Mensajes y Group *@
            <MudPaper Class=" pa-4 align-start d-flex" Style="width: 250px; background-color:transparent" Outlined="true">


                <MudPaper @onclick="()=>SelectText(all)" Class="pa-3 cursor-pointer" Style="background-color:#b8becd" Elevation="0">
                    <MudText Typo="Typo.button" HtmlTag="h3" style=@(AllBox ? "border-bottom-width: 2px;" : "")>
                        All
                    </MudText>
                </MudPaper>

                <MudSpacer />

                <MudPaper @onclick="()=>SelectText(message)" Class="pa-3 cursor-pointer" Style="background-color:#b8becd" Elevation="0">
                    <MudText Typo="Typo.button" HtmlTag="h3" style=@(MensajesBox ? "border-bottom-width: 2px;" : "")>
                        Mensajes
                    </MudText>
                </MudPaper>

                <MudSpacer />

                <MudPaper @onclick="()=>SelectText(group)" Class="pa-3 cursor-pointer" Style="background-color:#b8becd" Elevation="0">
                    <MudText Typo="Typo.button" HtmlTag="h3" style=@(GroupBox ? "border-bottom-width: 2px;" : "")>
                        Group
                    </MudText>
                </MudPaper>

            </MudPaper>

            <MudDivider Class="my-2" />

            @if (Chats != null && Chats.Any())
            {
                @if (MensajesBox || AllBox)
                {
                    <MudContainer Style="overflow:auto;">
                        <MudStack>

                            @foreach (var registro in Chats)
                            {
                                <MudPaper Style="background-color:#a3bacf" @onclick="()=>SelectedChatBubble(registro)">

                                    <div>
                                        <MudFab title="Perfil" Style="@GetProfilePictureData(registro.Data)" />
                                    </div>

                                    <MudPaper Class="mt-2 mb-2" Elevation="3" Style="background-color:aliceblue">
                                        <p><b></b></p>
                                        <MudText Align="Align.Center"><b>@registro.UserName</b></MudText>
                                        <p style="color:@(registro.IsLastMessageFromMe && !registro.Seen ? "black" : "inherit")">
                                            @(registro.IsLastMessageFromMe ? $"You: {registro.LastMessage}" : registro.LastMessage)
                                        </p>
                                    </MudPaper>
                                </MudPaper>

                            }
                        </MudStack>

                    </MudContainer>
                }
            }

            <MudNavLink Style=@EstiloBotones Href="/about">About</MudNavLink>

        </MudNavMenu>

    </MudDrawer>

    @* En este contenedor tendremos todo lo que corresponde al "Chat" *@
    <MudMainContent Style="background-color:#FAFAFA">

        <MudContainer MaxWidth="MaxWidth.ExtraExtraLarge" Class="d-flex flex-grow-1 flex-row">

            <MudPaper Style="background-color:transparent" Width="100%" Square="true">

                @if (true)
                {
                    <MudToolBar Style="width:100%;background-color:transparent;" Class="align-self-start">

                        <MudBadge Color="Color.Success" Overlap="true" Bordered="true">
                            <MudAvatar Style="height:50px; width:50px; font-size:2rem;">
                                <MudImage Src="images/jonny.jpg" />
                            </MudAvatar>
                        </MudBadge>
                        @* <MudFab Label="@Iniciales" Style="@background" /> *@

                        <MudSpacer />
                        <MudIconButton Icon="@Icons.Material.Filled.Search" Color="Color.Primary" />
                    </MudToolBar>

                    @* Mensajes *@
                    <div class="d-flex flex-column px-4" style="max-height:65vh;min-height:65vh; overflow:scroll;overflow-x:hidden" id="chatContainer">


                        @if (CurrentChat != null)
                        {
                            if (CurrentChat.Any())
                            {

                                @foreach (var item in CurrentChat)
                                {
                                    if (item.IsMyMessage)
                                    {
                                        <MudPaper Style="background-color:transparent" Class="d-flex justify-end">
                                            <div>
                                                <MudFab Label="@Iniciales" Style="@backgroundProfilePicture" />
                                            </div>
                                        </MudPaper>

                                        <MudPaper Style="height:100px;" Class="d-flex justify-end" Elevation="0">
                                            <MudPaper Class="mud-theme-primary" Width="124px" Height="64px">
                                                <p>@item.Date</p>
                                                <p>@item.Message</p>
                                            </MudPaper>
                                        </MudPaper>
                                        <br />
                                    }
                                    else
                                    {
                                        <MudPaper Style="background-color:transparent" Class="d-flex justify-start">
                                            <MudAvatar>
                                                <MudFab title="Perfil" Style="@GetProfilePictureData(item.Data)" />
                                            </MudAvatar>
                                        </MudPaper>

                                        <MudPaper Style="height:100px;" Class="d-flex justify-start" Elevation="0">
                                            <MudPaper Class="mud-theme-primary" Width="124px" Height="64px">
                                                <p>@item.Date</p>
                                                <p>@item.Message</p>
                                            </MudPaper>
                                        </MudPaper>
                                        <br />
                                    }

                                }
                            }
                            else
                            {
                                <p>Seleccione un chat</p>
                            }
                        }

                    </div>

                    <MudPaper Class="d-flex flex-row px-2 mx-4" Style="background-color:lightgrey">

                        <MudTextField T="string" Placeholder="Enter your message..." @onkeypress="OnKeyPressInChat" Class="mt-n2 mx-4" @bind-Value="CurrentMessage" For="@(()=> CurrentMessage)" />

                        <MudButton OnClick="SubmitAsync" StartIcon="@Icons.Material.Outlined.Send" Color="Color.Secondary" ButtonType="ButtonType.Button">Send</MudButton>
                    </MudPaper>

                }

            </MudPaper>

        </MudContainer>

    </MudMainContent>

</MudLayout>

@code {

    private List<string> MenusInChat = new List<string>()
    {
        "message","all","group"
    };

    private string message = "message";
    private string all = "all";
    private string group = "group";

    private bool MensajesBox { get; set; } = true;
    private bool AllBox { get; set; } = false;
    private bool GroupBox { get; set; } = false;

    private void SelectText(string txt)
    {
        //De esta manera o con un "Switch" funciona mas rapido porque evita renderizados innecesarios
        if (txt == "message" && !MensajesBox)
        {
            MensajesBox = true;
            AllBox = false;
            GroupBox = false;
        }
        else if (txt == "all" && !AllBox)
        {
            MensajesBox = false;
            AllBox = true;
            GroupBox = false;
        }
        else if (txt == "group" && !GroupBox)
        {
            MensajesBox = false;
            AllBox = false;
            GroupBox = true;
        }
    }

    private string GetProfilePictureData(byte[] c)
    {
        var imageBase64 = string.Empty;
        var estilo = string.Empty;
        if (c != null)
        {
            imageBase64 = Convert.ToBase64String(c);

            return $"background-image: url('data:image/jpg;base64,{imageBase64}');background-size:cover;width:30px;height:30px";
        }
        return "";
    }
    private string EstiloBotones = "color:Black";

}