@page "/Peticiones"

<h3>GrillaPedidos</h3>


<AuthorizeView>

    <Authorized>

    </Authorized>

    <NotAuthorized>
        <TituloDeslogueado />
    </NotAuthorized>
</AuthorizeView>

<MudPaper Style="background-color:#181A20;" Class="d-flex justify-center" Elevation="0" >

    <MudTable Style="background-color:#181A20" ServerData="@(new Func<TableState, Task<TableData<PeticionesResponse>>>(GetData))" @ref="_table">

        <ToolBarContent>

            @* Compra y venta *@
            <MudPaper Style="background-color:#181A20;width: 860px; border-width: 1px;border-radius:10px;border-color:white;" Elevation="20" Outlined="true">

                <MudButton OnClick="()=>TipoOperacion(Compra)" Variant="Variant.Filled" Style="@EstiloBotonCompra">Comprar</MudButton>

                <MudButton OnClick="()=>TipoOperacion(Venta)" Variant="Variant.Filled" Style="@EstiloBotonVenta">Vender</MudButton>

            </MudPaper>

            <MudButton Style="@EstiloCrypto" Variant="Variant.Filled">USDT</MudButton>
            <MudButton Style="@EstiloCrypto" Variant="Variant.Filled">BTC</MudButton>
            <MudButton Style="@EstiloCrypto" Variant="Variant.Filled">USDC</MudButton>
            <MudButton Style="@EstiloCrypto" Variant="Variant.Filled">ETH</MudButton>
            <MudButton Style="@EstiloCrypto" Variant="Variant.Filled">Tokens</MudButton>
            <MudButton Style="@EstiloCrypto" Variant="Variant.Filled">Otros</MudButton>


        </ToolBarContent>




        <HeaderContent>

            <MudTh><MudTableSortLabel T="PeticionesResponse" SortLabel="Descripcion">Descripcion</MudTableSortLabel></MudTh>
            <MudTh><MudTableSortLabel T="PeticionesResponse" SortLabel="Moneda">Moneda</MudTableSortLabel></MudTh>
            <MudTh><MudTableSortLabel T="PeticionesResponse" SortLabel="Monto">Monto</MudTableSortLabel></MudTh>

        </HeaderContent>

        <RowTemplate>

            <MudTd DataLabel="Name">
                <MudHighlighter Text="@context.Descripcion" HighlightedText="@_searchString" />
            </MudTd>

            <MudTd DataLabel="Brand">
                <MudHighlighter Text="@context.Moneda" HighlightedText="@_searchString" />
            </MudTd>

            <MudTd DataLabel="Brand">
                <MudHighlighter Text="@context.Monto.ToString()" HighlightedText="@_searchString" />
            </MudTd>

            <MudButton Variant="Variant.Filled">Comprar</MudButton>

        </RowTemplate>


    </MudTable>
</MudPaper>





@code {
    private string Compra { get; set; } = "Compra";
    private string Venta { get; set; } = "Venta";

    private string EstiloBotonCompra { get; set; } = "background-color:#2A3038;color:white;";
    private string EstiloBotonVenta { get; set; } = "color:white;";
    private string EstiloCrypto { get; set; } = "background-color:#181A20;color:white";

    private void TipoOperacion(string boton)
    {
        if (boton == Compra)
        {
            EstiloBotonCompra = "background-color:#2A3038;color:white;";
            EstiloBotonVenta = "color:white;";
        }
        else
        {
            EstiloBotonVenta = "background-color:#2A3038;color:white;";
            EstiloBotonCompra = "color:white;";
        }

    }
}