
<MudPaper Class="width:100px;height:35px;" Style="background-color:transparent;" Elevation="0">
    <div>
        <MudFab title="Perfil" @onclick="@ToggleOpen" Style="@background" />
        <MudButton @onclick="@ToggleOpen" Size="Size.Large" Style="border:none" EndIcon="@Icons.Material.Filled.ArrowDropDown"><MudText Typo="Typo.subtitle1"> AGUSTIN</MudText></MudButton>
    </div>

    <MudPopover Open="_open" OverflowBehavior="OverflowBehavior.FlipAlways" AnchorOrigin="Origin.BottomCenter" TransformOrigin="Origin.TopCenter" Paper="false">
        <MudPaper Outlined="true" Class="px-4 py-8">
            <MudPaper Width="250px" Class="py-3" Elevation="0">
                <MudNavMenu>

                    <MudText Typo="Typo.h6" Class="px-4">@userName</MudText>

                    <MudText Typo="Typo.body2">
                        <MudNavLink Href="/UserProfile">Mi perfil</MudNavLink>
                    </MudText>

                    <MudDivider Class="my-2" Style="border:20px; " />

                    <MudNavLink Href="/dashboard">Compras</MudNavLink>
                    <MudNavLink Href="/servers">Preguntas</MudNavLink>
                    <MudNavLink Href="/billing" Disabled="true">Opiniones</MudNavLink>

                    <MudDivider Class="my-2" Style="border:20px; " />

                    <MudNavGroup Title="Settings" Expanded="true">
                        <MudNavLink Href="/security">Security</MudNavLink>
                        <MudNavLink Href="/security">Configuraciones de inicio</MudNavLink>
                    </MudNavGroup>

                    <MudNavLink OnClick="Logout">Salir</MudNavLink>

                </MudNavMenu>
            </MudPaper>
        </MudPaper>
    </MudPopover>
</MudPaper>

