@page "/"

<div class="d-flex justify-center">
    <MudImage Src="svg/MainLogo.jpg" ObjectFit="ObjectFit.Fill" ObjectPosition="ObjectPosition.Center" Height="170" Width="830" Elevation="25" Class="rounded-lg" />
</div>

@*Buscador*@
<div style="display: grid; place-items: center;">
    <MudTextField @bind-Value="SearchString"
                  Clearable="true"
                  Variant="Variant.Outlined"
                  Adornment="Adornment.End"
                  AdornmentIcon="@Icons.Material.Filled.Search"
                  AdornmentColor="Color.Secondary"
                  OnAdornmentClick="RealizarBusqueda"
                  style="width: 750px;" />
</div>

<AuthorizeView>

    <Authorized>
        <CascadingValue Value="_hubConnection">
            @if (IsHubConnected)
            {
                //Barra herramientas conectado
                <MudPaper Elevation="25" Style="background-color:#D4A054; display: flex; justify-content: space-between; align-items: center; ">

                    <!-- Contenedor de los botones centrales -->
                    <MudToolBar Style=" display: flex; align-items: center; height: auto; margin-left:30%; width:fit-content; justify-content: center;">
                        <div style="display: flex; justify-content: center;">
                            @foreach (var item in titulosConectado)
                            {
                                if (item.Descripcion == "Categorias")
                                {
                                    <PopOverCategorias categoriaList="@listaCategorias" />
                                }
                                else
                                {
                                    @{
                                        var href = "/" + item.Descripcion;
                                    }
                                    <MudButton Href="@href" Style="color:black">@item.Descripcion</MudButton>
                                }
                            }
                        </div>
                    </MudToolBar>

                    <!-- (contenedor de botones finales) -->
                    <div style=" display: flex; align-items: center; height: auto; margin-right: 15%;">
                        <TogglePerfil />
                        <Notificaciones />
                        <CarritoCompras />
                    </div>

                </MudPaper>
            }
            else
            {
                <MudSkeleton Style="background-color:#D4A054" Height="95px" />
            }
        </CascadingValue>
    </Authorized>

    <NotAuthorized>
        <BarraHerramientasDesconectado />
        <TituloDeslogueado />
    </NotAuthorized>

</AuthorizeView>

<CaruselInicio />

@if (ShowTablePeticiones)
{
    <MudPaper Style="background-color:transparent;height:500px;" Class="d-flex justify-center " Elevation="0">

        <MudTable Dense="true" Hover="true" Bordered="true" Striped="true" T="PeticionesResponse" Style="overflow:scroll;background-color:#181A20;height:450px" ServerData="@(new Func<TableState, CancellationToken, Task<TableData<PeticionesResponse>>>(GetData))" @ref="_table">
            <!-- Aquí puedes agregar las columnas y otras configuraciones del MudTable -->

            <ToolBarContent>

                <MudPaper Style="width:980px;background-color:#181A20;" Elevation="20" Outlined="true">

                    <MudStack Wrap="Wrap.NoWrap" Spacing="4" Row="true" AlignItems="AlignItems.Start">

                        <MudPaper Style="background-color:transparent">
                            <MudButton OnClick="()=>TipoOperacion(Compra)" Style="@EstiloBotonComprarPeticion">Comprar peticion </MudButton>

                            <MudButton OnClick="()=>TipoOperacion(Venta)" Style="@EstiloBotonCrear">Crear Peticion</MudButton>
                        </MudPaper>
                        <MudSpacer />
                        <MudButton Style="@GetEstiloBoton("USDT")" OnClick='() => SeleccionarBoton("USDT")'>USDT</MudButton>
                        <MudButton Style="@GetEstiloBoton("BTC")" OnClick='() => SeleccionarBoton("BTC")'>BTC</MudButton>
                        <MudButton Style="@GetEstiloBoton("USDC")" OnClick='() => SeleccionarBoton("USDC")'>USDC</MudButton>
                        <MudButton Style="@GetEstiloBoton("ETH")" OnClick='() => SeleccionarBoton("ETH")'>ETH</MudButton>
                        <MudButton Style="@GetEstiloBoton("TOKENS")" OnClick='() => SeleccionarBoton("TOKENS")'>Tokens</MudButton>
                        <MudButton Style="@GetEstiloBoton("OTROS")" OnClick='() => SeleccionarBoton("OTROS")'>Otros</MudButton>

                    </MudStack>

                </MudPaper>

            </ToolBarContent>

            <HeaderContent>

                <MudTh><MudTableSortLabel Style="color:white;" T="PeticionesResponse" SortLabel="Descripcion">Descripcion</MudTableSortLabel></MudTh>
                <MudTh><MudTableSortLabel Style="color:white;" T="PeticionesResponse" SortLabel="Moneda">Moneda</MudTableSortLabel></MudTh>
                <MudTh><MudTableSortLabel Style="color:white;" T="PeticionesResponse" SortLabel="Monto">Monto</MudTableSortLabel></MudTh>

            </HeaderContent>

            <RowTemplate>

                <MudTd DataLabel="Name">
                    <MudHighlighter HighlightedText="@TxtBusqueda" />
                    <MudText Style="color:white;">@context.Descripcion</MudText>
                </MudTd>

                <MudTd DataLabel="Brand">
                    <MudHighlighter HighlightedText="@TxtBusqueda" />
                    <MudText Style="color:white;">@context.Moneda</MudText>
                </MudTd>

                <MudTd DataLabel="Brand">
                    <MudHighlighter HighlightedText="@TxtBusqueda" />
                    <MudText Style="color:white;">@context.Monto</MudText>
                </MudTd>

                <MudButton OnClick="() => AgregarAlCarrito(context)" Style="background-color:green;color:white;">Agregar al carrito</MudButton>

            </RowTemplate>

        </MudTable>

    </MudPaper>
}
